@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.startsida img {
    width: 200px;
    border-radius: 10px;
    margin: 25px;
}

.startsida h1 {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    color: azure;
}

.startsida p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.startsida header {
    text-align: center;
    background-color: deepskyblue;
    padding: 10px;
}

.startsida section {
    margin-left: 25px;
    font-family: 'EB Garamond', serif;
}

.startsida {
    height: 100%;
    margin: 0;
}

.portfolio a {
    text-decoration: none;
}

.portfolio section {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.container {
    margin-top: 50px;
}

.beginning {
    text-align: center;
}

.navigering {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: dodgerblue;
}

.navigering a {
    text-decoration: none;
}

.navigering a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

.kontakt h1 {
    margin: 25px;
    font-family: 'EB Garamond', serif;
}

.kontakt address {
    margin: 25px;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
}

.kontakt iframe {
    margin: 25px;
}

address a {
    text-decoration: none;
}

ul a {
    text-decoration: none;
}

ul a:hover {
    color: cornflowerblue;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: deepskyblue;
    color: azure;
    margin-top: 25px;
    flex-shrink: 0;
}

footer a {
    text-decoration: none;
    color: azure;
}

footer a:hover {
    color: aquamarine;
    text-decoration: underline;
}

.footer-hr {
    display: none;
}

@media (min-width: 576px) {
    body {
        background-color: white;
    }
}

@media (min-width: 768px) {
    body {
        background-color: ghostwhite;
    }
}

@media (min-width: 992px) {
    body {
        background-color: snow;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}